 
 .Presentacion
 {

 	position: absolute;
	height: 35%;
    width: 80%;
    background:linear-gradient(30deg, crimson,sienna, royalblue, lightgreen, purple);
    left: 10%;
    top: 15%;
    border-radius: 25px;

}

.foto
{
  
  position: absolute;
  height: 20%;
  width:  20%;
  left: 900px;
  top: 20px;

}

.Perido1  

{
    position: absolute;
	height: 35%;
    width: 20%;
    background: #FB4D41;
    left: 10%;
    top: 55%;
    border-radius: 25px;
    
}

.Periodo2

{

	position: absolute;
	height: 35%;
    width: 20%;
    background: #79E880;
    left: 40%;
    top: 55%;
    border-radius: 25px;
    


}

.Periodo3

{

    position: absolute;
	height: 35%;
    width: 20%;
    background: #B181E5;
    left: 70%;
    top: 55%;
    border-radius: 25px;

}

.cotorra
{ 

    position: absolute;
    height: 850%;
    width: 80%;
    background:#FEFFCBBF;
    left: 10%;
    top: 10%;
    border-radius: 25px;

}

.culpar

{
    position: absolute;
    height: 35%;
    width: 80%;
    background:linear-gradient(top, red, gold);
    left: 10%;
    top: 20%;
    border-radius: 25px;
}

.lobby

{
 
   position: absolute;
	height: 850%;
    width: 80%;
    background:#DD3C3CB8;
    left: 10%;
    top: 10%;
    border-radius: 25px;



}

.volver1
{

    position: absolute;
    height: 14%;
    width: 25%;
    background:#FAF4B5;
    left: 35%;
    top: 21%; 
    border-radius: 25px;

} 

.e1
{

    position: absolute;
    height: 20%;
    width: 65%;
    background: #C48A5C;
    left: 19%;
    top: 41%; 
    border-radius: 25px;

}

.e2

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #C48A5C;
    left: 19%;
    top: 71%; 
    border-radius: 25px;

}

.e3

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #C48A5C;
    left: 19%;
    top: 101%; 
    border-radius: 25px;

}

.e4

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #C48A5C;
    left: 19%;
    top: 131%; 
    border-radius: 25px;

}

.volver2
{

    position: absolute;
    height: 14%;
    width: 25%;
    background:#5578BF;
    left: 35%;
    top: 21%; 
    border-radius: 25px;

} 


.t1
{

    position: absolute;
    height: 20%;
    width: 65%;
    background: #D9E2F3;
    left: 19%;
    top: 41%; 
    border-radius: 25px;

}

.t2

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #D9E2F3;
    left: 19%;
    top: 71%; 
    border-radius: 25px;

}

.t3

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #D9E2F3;
    left: 19%;
    top: 101%; 
    border-radius: 25px;

}

.t4

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #D9E2F3;
    left: 19%;
    top: 131%; 
    border-radius: 25px;

}

.gelato

{
 
   position: absolute;
	height: 850%;
    width: 80%; 
    background: #000000A9;
    left: 10%;
    top: 10%;
    border-radius: 25px;

}


.volver3

{

    position: absolute;
    height: 14%;
    width: 25%;
    background:linear-gradient(20deg, red,orange, yellow, lightgreen, lightblue, purple);   
    left: 35%;
    top: 21%; 
    border-radius: 25px;

} 


.u1
{

    position: absolute;
    height: 20%;
    width: 65%;
    background: #FFFFFFA9;
    left: 19%;
    top: 41%; 
    border-radius: 25px;

}

.u2

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #FFFFFFA9;
    left: 19%;
    top: 71%; 
    border-radius: 25px;

}

.u3

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #FFFFFFA9;
    left: 19%;
    top: 101%; 
    border-radius: 25px;

}

.u4

{


    position: absolute;
    height: 20%;
    width: 65%;
    background: #FFFFFFA9;
    left: 19%;
    top: 131%; 
    border-radius: 25px;

}